USE [master]
GO
/****** Object:  Database [ABC]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE DATABASE [ABC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Visitor', FILENAME = N'E:\MSSQLDatabase\INTRANET\MSSQL12.INTRANET\MSSQL\DATA\Visitor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Visitor_log', FILENAME = N'E:\MSSQLDatabase\INTRANET\MSSQL12.INTRANET\MSSQL\DATA\Visitor_log.ldf' , SIZE = 43264KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ABC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ABC]
GO
/****** Object:  User [usr_VisitorApp]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE USER [usr_VisitorApp] FOR LOGIN [usr_VisitorApp] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [usr_PancenDev_Reader]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE USER [usr_PancenDev_Reader] FOR LOGIN [usr_PancenDev_Reader] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PANCENTURY\qayyim]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE USER [PANCENTURY\qayyim] FOR LOGIN [PANCENTURY\qayyim] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [pancen]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE USER [pancen] FOR LOGIN [pancen] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usr_VisitorApp]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usr_PancenDev_Reader]
GO
/****** Object:  Table [dbo].[partOne_scores]    Script Date: 10/06/2026 03:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partOne_scores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](255) NULL,
	[UserName] [varchar](255) NULL,
	[ScorePercentage] [varchar](50) NULL,
	[ScoreStatus] [varchar](50) NULL,
	[Timestamp] [datetime] NULL,
	[TrainingYear] [int] NULL,
	[IsArchived] [bit] NOT NULL,
	[ArchivedAt] [datetime] NULL,
	[ArchivedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partTwo_scores]    Script Date: 10/06/2026 03:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partTwo_scores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[UserName] [nvarchar](100) NULL,
	[ScorePercentage] [nvarchar](10) NULL,
	[ScoreStatus] [nvarchar](20) NULL,
	[Timestamp] [datetime] NULL,
	[TrainingYear] [int] NULL,
	[IsArchived] [bit] NOT NULL,
	[ArchivedAt] [datetime] NULL,
	[ArchivedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empMaster_lists]    Script Date: 10/06/2026 03:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empMaster_lists](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[UserName] [nvarchar](100) NULL,
	[EmployeeIC] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[CompanyID] [nvarchar](50) NULL,
	[SuperUser] [nvarchar](50) NULL,
	[Active] [nvarchar](50) NULL,
	[Local] [nvarchar](50) NULL,
	[Access] [nvarchar](50) NULL,
	[IsArchived] [bit] NOT NULL,
	[ArchivedAt] [datetime] NULL,
	[ArchivedBy] [nvarchar](50) NULL,
	[PasswordHash] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmployeeTrainingByYear]    Script Date: 10/06/2026 03:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════════════════════════════
-- FIX: Update the view to use correct column name (TrainingYear)
-- ══════════════════════════════════════════════════════════════════

CREATE VIEW [dbo].[vw_EmployeeTrainingByYear] AS
SELECT 
    e.EmployeeID,
    e.UserName,
    e.Department,
    e.CompanyID,
    e.Local,
    COALESCE(p1.TrainingYear, YEAR(GETDATE())) AS TrainingYear,
    COALESCE(p1.ScoreStatus, 'not pass') AS Part1Status,
    COALESCE(p1.ScorePercentage, '0') AS Part1Percentage,
    p1.Timestamp AS Part1Timestamp,
    COALESCE(p2.ScoreStatus, 'not pass') AS Part2Status,
    COALESCE(p2.ScorePercentage, '0') AS Part2Percentage,
    p2.Timestamp AS Part2Timestamp,
    CASE 
        WHEN COALESCE(p1.ScoreStatus, 'not pass') = 'pass' 
        AND COALESCE(p2.ScoreStatus, 'not pass') = 'pass' 
        THEN 'Completed'
        WHEN COALESCE(p1.ScoreStatus, 'not pass') = 'pass' 
        AND COALESCE(p2.ScoreStatus, 'not pass') = 'not pass' 
        THEN 'Part1 Only'
        ELSE 'Not Started'
    END AS OverallStatus
FROM empMaster_lists e
LEFT JOIN (
    SELECT EmployeeID, UserName, TrainingYear, ScoreStatus, ScorePercentage, Timestamp,
           ROW_NUMBER() OVER (PARTITION BY EmployeeID, TrainingYear ORDER BY Timestamp DESC) AS rn
    FROM partOne_scores
    WHERE ISNULL(IsArchived, 0) = 0
) p1 ON e.EmployeeID = p1.EmployeeID AND e.UserName = p1.UserName AND p1.rn = 1
LEFT JOIN (
    SELECT EmployeeID, UserName, TrainingYear, ScoreStatus, ScorePercentage, Timestamp,
           ROW_NUMBER() OVER (PARTITION BY EmployeeID, TrainingYear ORDER BY Timestamp DESC) AS rn
    FROM partTwo_scores
    WHERE ISNULL(IsArchived, 0) = 0
) p2 ON e.EmployeeID = p2.EmployeeID AND e.UserName = p2.UserName 
    AND p2.TrainingYear = COALESCE(p1.TrainingYear, YEAR(GETDATE())) AND p2.rn = 1
WHERE e.Active = '1'
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/06/2026 03:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auditLog]    Script Date: 10/06/2026 03:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[ActorID] [nvarchar](50) NOT NULL,
	[ActorName] [nvarchar](200) NOT NULL,
	[ActorRole] [nvarchar](20) NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TargetID] [nvarchar](50) NULL,
	[TargetName] [nvarchar](200) NULL,
	[Detail] [nvarchar](500) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[Result] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/06/2026 03:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[EmployeeIC] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EncryptionLogs]    Script Date: 10/06/2026 03:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncryptionLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalText] [nvarchar](max) NULL,
	[EncryptedText] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_auditLog_Action]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_auditLog_Action] ON [dbo].[auditLog]
(
	[Action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_auditLog_ActorID]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_auditLog_ActorID] ON [dbo].[auditLog]
(
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_auditLog_LogTime]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_auditLog_LogTime] ON [dbo].[auditLog]
(
	[LogTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_empMaster_Active_Archived]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_empMaster_Active_Archived] ON [dbo].[empMaster_lists]
(
	[Active] ASC,
	[IsArchived] ASC
)
INCLUDE([EmployeeID],[UserName],[EmployeeIC],[Department],[CompanyID],[SuperUser],[Access],[Local]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_empMaster_EmployeeIC]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_empMaster_EmployeeIC] ON [dbo].[empMaster_lists]
(
	[EmployeeIC] ASC
)
INCLUDE([EmployeeID],[UserName]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_empMaster_EmployeeID]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_empMaster_EmployeeID] ON [dbo].[empMaster_lists]
(
	[EmployeeID] ASC
)
INCLUDE([UserName],[EmployeeIC],[Department],[CompanyID],[SuperUser],[Access],[Local],[Active],[IsArchived]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_partOne_EmpID_Timestamp]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partOne_EmpID_Timestamp] ON [dbo].[partOne_scores]
(
	[EmployeeID] ASC,
	[Timestamp] DESC
)
INCLUDE([ScoreStatus],[ScorePercentage],[TrainingYear],[IsArchived]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_partOne_scores_EmployeeID]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partOne_scores_EmployeeID] ON [dbo].[partOne_scores]
(
	[EmployeeID] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_partOne_scores_Status]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partOne_scores_Status] ON [dbo].[partOne_scores]
(
	[ScoreStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_partOne_scores_Timestamp]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partOne_scores_Timestamp] ON [dbo].[partOne_scores]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_partOne_scores_TrainingYear]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partOne_scores_TrainingYear] ON [dbo].[partOne_scores]
(
	[TrainingYear] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_partOne_Timestamp_Archived]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partOne_Timestamp_Archived] ON [dbo].[partOne_scores]
(
	[Timestamp] ASC,
	[IsArchived] ASC
)
INCLUDE([EmployeeID],[ScoreStatus],[ScorePercentage],[TrainingYear]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_partTwo_EmpID_Timestamp]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partTwo_EmpID_Timestamp] ON [dbo].[partTwo_scores]
(
	[EmployeeID] ASC,
	[Timestamp] DESC
)
INCLUDE([ScoreStatus],[ScorePercentage],[TrainingYear],[IsArchived]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_partTwo_scores_EmployeeID]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partTwo_scores_EmployeeID] ON [dbo].[partTwo_scores]
(
	[EmployeeID] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_partTwo_scores_Status]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partTwo_scores_Status] ON [dbo].[partTwo_scores]
(
	[ScoreStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_partTwo_scores_Timestamp]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partTwo_scores_Timestamp] ON [dbo].[partTwo_scores]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_partTwo_scores_TrainingYear]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partTwo_scores_TrainingYear] ON [dbo].[partTwo_scores]
(
	[TrainingYear] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_partTwo_Timestamp_Archived]    Script Date: 10/06/2026 03:17:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_partTwo_Timestamp_Archived] ON [dbo].[partTwo_scores]
(
	[Timestamp] ASC,
	[IsArchived] ASC
)
INCLUDE([EmployeeID],[ScoreStatus],[ScorePercentage],[TrainingYear]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auditLog] ADD  DEFAULT (getdate()) FOR [LogTime]
GO
ALTER TABLE [dbo].[auditLog] ADD  DEFAULT ('SUCCESS') FOR [Result]
GO
ALTER TABLE [dbo].[empMaster_lists] ADD  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[EncryptionLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[partOne_scores] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[partOne_scores] ADD  DEFAULT (datepart(year,getdate())) FOR [TrainingYear]
GO
ALTER TABLE [dbo].[partOne_scores] ADD  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[partTwo_scores] ADD  CONSTRAINT [DF_partTwo_scores_Timestamp]  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[partTwo_scores] ADD  DEFAULT (datepart(year,getdate())) FOR [TrainingYear]
GO
ALTER TABLE [dbo].[partTwo_scores] ADD  DEFAULT ((0)) FOR [IsArchived]
GO
USE [master]
GO
